h1 {
  color: aliceblue;
}

h3 {
  justify-content: center;
  text-align: center;
  color: white;
}

.image-container {
  position: relative;
  background-color: beige;

  width: auto;
  height: 750px;
  display: flex;
  justify-content: center;
}

.image-inner-container {
  position: absolute;
  margin: 20px;
}
.disjuntor {
  width: 25px;
  height: 25px;
  background: blue;
  position: absolute;
  margin: 0;
  border: 1px solid rgba(255, 0, 0, 0);
}

.disjuntor:hover{
  border-color: rgba(255, 255, 255, 1);
}
.seccionadora {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0;
  content: url('./Pages/chave_fechada.png') ;
  border: 1px solid rgba(255, 0, 0, 0);
}

.seccionadora:hover{
  border-color: rgba(255, 255, 255, 1);

}

