h1 {
  color: aliceblue;
}

h3 {
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: lighter;
  /* display: inline-grid; */
  margin: 10px;
  /* grid-auto-flow: column;
  gap: 4px; */
  align-items: center;
  justify-items: center;

}

.image-container {
  position: relative;
  background-color: beige;

  width: auto;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.image-inner-container {
  position: absolute;
  margin: 20px;
}
.disjuntor {
  width: 25px;
  height: 25px;
  background: blue;
  position: absolute;
  margin: 0;
  border: 1px solid rgba(255, 0, 0, 0);
}

.disjuntor:hover{
  border-color: rgba(255, 255, 255, 1);
}



.opcoes{
  opacity: 0;
  z-index: -1;
  width: 3em;
  text-align: center;
}

.disjuntor:hover + .opcoes{
  opacity: 1;
  z-index: 10;
}


.seccionadora {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0;
  content: url('./Pages/chave_fechada.png') ;
  border: 1px solid rgba(255, 0, 0, 0);
}

.seccionadora:hover{
  border-color: rgba(255, 255, 255, 1);

}

